<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
  </head>
  <body>
    <header>
      <%- include('../partials/masthead') %>
      <%- include('../partials/account') %>
    </header>
    <main id="signup">
      <%- include('../partials/message') %>
      <div class="PageHead">
        <h2><%= title %></h2>
      </div>

      <form class="PageForm" action="/users/new" method="POST">
        <%- include('./fieldsets/federated') %>

        <hr />

        <%- include('../users/fieldsets/identity') %>
        <%- include('../users/fieldsets/username') %>
        <%- include('../users/fieldsets/password') %>
        
        <nav class="Commands PageCommands">
          <button class="Check btn btn-primary" type="submit" class="g-recaptcha"
            data-sitekey="6LfPp14UAAAAAPRDQrFX3Pa6TiBsjrSwz31mpKw0"
            data-callback="submitForm" data-action="save">
            <span>Create Account</span></button>
          <a class="Cancel btn btn-secondary" href="https://hewwn.com/" data-action="cancel">
            <span>Cancel</span></a>
        </nav>
      </form>
    </main>
    <footer></footer>
    <script src="/js/auth~signup.bundle.js"></script>
    <script type="text/javascript">
      var labels = {
        'phrase.confirmCancel': "Are you sure? All changes will be lost."
      }

      bundle.init();
      bundle.preselectTZ();
      bundle.enhancePassword();
      bundle.highlightSelection();

      // reCaptcha callback
      function submitForm(token) {
        $('form.PageForm').submit();
      }
    </script>
  </body>
</html>